@model TFTechnologies.Models.Tickets

<!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(~/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@ViewBag.txtMessage</h2>
                <p>Login to submit feedback</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>@ViewBag.txtMessage</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<form asp-action="Create">
    <div class="form-horizontal">
        @*<h4>Tickets</h4>*@
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TicketId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TicketId" class="form-control" />
                <span asp-validation-for="TicketId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Priority" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MsgDetail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MsgDetail" class="form-control" />
                <span asp-validation-for="MsgDetail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EntryDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReplyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ReplyId" class ="form-control" asp-items="ViewBag.ReplyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
