@model TFTechnologies.Models.TicketsType

   <!-- Start Page Banner -->
<div class="page-banner" style="padding:40px 0; background: url(~/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@ViewBag.txtMessage</h2>
                <p>Login to submit feedback</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>@ViewBag.txtMessage</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TicketsType</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TypeId" />
        <div class="form-group">
            <label asp-for="TypeTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TypeTitle" class="form-control" />
                <span asp-validation-for="TypeTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
