    <!-- Container -->
<div class="container">
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url(~/images/slide-02-bg.jpg) center #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About Us</h2>
                    <p>We Are Professional</p>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="page-content">


                <div class="row">

                    <div class="col-md-7">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Welcome to 3F Technologies</span></h4>

                        <!-- Some Text -->
                        <p><strong class="accent-color">3F Technologies (Pvt) Ltd.</strong> comprises a dynamic group of professionals who are, highly educated, having related degree in Business Administration, Computer Science, and IT field. All people working in 3F Technologies (Pvt) Ltd. are MBAs, MITs, MCS, BCS, BSc (computer Science) etc. These people are also having vast experience of designing and developing different software products for different type of businesses. Our technology professionals are certified in but not limited to, Microsoft, Linux and Apple. We are experts in all standard industry programming languages / enterprise solutions such as <strong>C, C++, Visual Basic .NET, C# .NET, Share Point, Java, Active Server Pages, PHP and SQL</strong> to name a few. With extensive hardware and software alliances we can provide your company with solutions tailored to your specific needs.</p>

                    </div>

                    <div class="col-md-5">

                        <!-- Start Touch Slider -->
                        <div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
                            <div class="item"><img alt="" src="~/images/about-01.jpg"></div>
                            <div class="item"><img alt="" src="~/images/about-02.jpg"></div>
                            <div class="item"><img alt="" src="~/images/about-03.jpg"></div>
                        </div>
                        <!-- End Touch Slider -->



                    </div>


                    <!-----------------------2nd text--------------------->
                    <div class="col-md-7">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Why 3F Technologies?</span></h4>

                        <!-- Some Text -->
                        <p>A complete <strong class="accent-color">commitment to quality</strong>, a high level of customer satisfaction, a dedication to building relationships and a vision for the future are the key fundamental principles at 3F Technologies. We are dedicated to delivering a product that is quality oriented and ensuring a level of services that meets the varying requirements of our clients. We provide you with the <strong>"Competitive Edge"</strong> – that's what every organization needs, to be successful in today's ultra-competitive world. Our strategy is to provide quality and cost effective solutions to clients, to enable them to get this "Competitive Edge". By leveraging our unique methodology, our Global Delivery Model, trained and experienced human resources and superior tools and technologies, we offer some of the most comprehensive, cost effective and innovative solutions available today. We take pride in our work, which is reflected, in the high standards of services we offer.</p>

                    </div>
                    <!-------------------3rd text------------------>
                    <div class="col-md-7">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Vision</span></h4>

                        <!-- Some Text -->
                        <p>To become one of leading <strong>software house</strong> and I.T enabled service provider in Pakistan by providing innovative and modern I.T Services to our clients. To create and maximize value and opportunity for all our customers and company members.</p>

                    </div>

                    <!-------------------4th text------------------>
                    <div class="col-md-7">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Mission</span></h4>

                        <!-- Some Text -->
                        <p>The mission of <strong class="accent-color">3F Technologies (Pvt) Ltd.</strong> is to be the trusted partner of its clients, helping them to enhance their business performance by providing them with innovative, state-of-the-art software solutions, automated and integrated workflows and business processes and the highest quality and quickest turn around times for IT and IT enabled services. We believe that we exist to serve our customers with mutual respect and care, to take pride in our work, and to act with integrity in all that we do, while striving for financial gains for our stakeholders, customers and employees.</p>

                    </div>

                    <!-------------------5th text------------------>
                    <div class="col-md-7">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Comany Profile</span></h4>

                        <!-- Some Text -->
                        <p>
                            To Download our Company Profile <a href="assets/Company Profile/Company Profile.pdf" download>Click Here</a>
                        </p>

                    </div>


                </div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:50px;"></div>

                <div class="row">

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Skills</span></h4>

                        <!-- Start Progress Bar 1 -->
                        <div class="progress-label">C#.Net</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-primary" data-progress-animation="98%">
                                <span class="percentage">98%</span>
                            </div>
                        </div>

                        <!-- Start Progress Bar 2 -->
                        <div class="progress-label">Web Developing</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
                                <span class="percentage">96%</span>
                            </div>
                        </div>

                        <!-- Start Progress Bar 3 -->
                        <div class="progress-label">Visual Basic</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-primary" data-progress-animation="98%" data-appear-animation-delay="800">
                                <span class="percentage">98%</span>
                            </div>
                        </div>

                        <!-- Start Progress Bar 4 -->
                        <div class="progress-label">Support</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-primary" data-progress-animation="100%" data-appear-animation-delay="1200">
                                <span class="percentage">100%</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Solutions</span></h4>

                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                            <!-- Start Accordion 1 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                            <i class="icon-down-open-1 control-icon"></i>
                                            <i class="icon-laptop-1"></i> Unique Features
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-1" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="~/images/bussniss-pic.jpg" /> <strong class="accent-color">3F Technologies</strong> are dedicated to delivering a product that is quality oriented and ensuring a level of services that meets the varying requirements of our clients. We provide you with the "Competitive Edge" – that's what every organization needs, to be successful in today's ultra-competitive world</div>
                                </div>
                            </div>
                            <!-- End Accordion 1 -->
                            <!-- Start Accordion 2 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                            <i class="icon-down-open-1 control-icon"></i>
                                            <i class="icon-gift-1"></i> Updates
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-2" class="panel-collapse collapse">
                                    <div class="panel-body">We ensure fastest and quick updates process for our solutions to make our client's work more easy and the flow of activities remain confident. </div>
                                </div>
                            </div>
                            <!-- End Accordion 2 -->

                        </div>
                    </div>

                </div>

                <!---------------Team Members-------------------->
                <!-- Divider -->
                <div class="hr1" style="margin-bottom:50px;"></div>

                <!-----------Management Team---------------->
                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Our Creative Team</span></h4>

                <h5 class="classic-title"><span>Management</span></h5>

                <!-- Start Team Members -->
                <div class="row">

                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Irfan Najmi" src="~/images/team/Sir Irfan.jpg" />
                                <div class="member-name">Muhammad Irfan Najmi <span>G.M Marketing </span></div>
                            </div>


                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 2 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Muhammad Salman Khan" src="~/images/team/salman bhai.jpg" />
                                <div class="member-name">Muhammad Salman Khan <span>Development Head </span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 2 -->

                </div>

                <!-----------Services Team---------------->
                <!-- Classic Heading -->
                <br>

                <h5 class="classic-title"><span>Services</span></h5>

                <!-- Start Team Members -->
                <div class="row">

                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="salman Ahmad" src="~/images/team/salman Ahmad.jpg" />
                                <div class="member-name">Salman Ahmad <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Nouman Zahid" src="~/images/team/Noman Zahid.jpg" />
                                <div class="member-name">Nouman Zahid <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 2 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Asad Khan" src="~/images/team/asad.jpg" />
                                <div class="member-name">Muhammad Asad Khan <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 2 -->
                    <!-- Start Memebr 3 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Faisal Hayat" src="~/images/team/Faisal Hayat.jpg" />
                                <div class="member-name">Faisal Hayat <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 3 -->
                    <!-- Start Memebr 4 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Zaryab Saleem" src="~/images/team/zaryab.jpg" />
                                <div class="member-name">Zaryab Saleem <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 4 -->
                    <!-- Start Memebr 4 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Ali Asghar" src="~/images/team/ali asghar.jpg" />
                                <div class="member-name">Ali Asghar <span>C.S.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 4 -->

                </div>

                <!-----------Sales Team---------------->
                <!-- Classic Heading -->
                <br>

                <h5 class="classic-title"><span>Sales</span></h5>

                <!-- Start Team Members -->
                <div class="row">

                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Kashif Shah" src="~/images/team/male avatar.jpg" />
                                <div class="member-name">Kashif Shah <span>B.D.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Muhammad Imran" src="~/images/team/imran.jpg" />
                                <div class="member-name">Muhammad Imran <span>B.D.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 2 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Amjad Laghari" src="~/images/team/male avatar.jpg" />
                                <div class="member-name">Amjad Laghari <span>B.D.O</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 2 -->

                </div>

                <!-----------CCTV Team---------------->
                <!-- Classic Heading -->
                <br>

                <h5 class="classic-title"><span>Security Cameras</span></h5>

                <!-- Start Team Members -->
                <div class="row">

                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Rashid Tariq" src="~/images/team/rashid.jpg" />
                                <div class="member-name">Rashid Tariq <span>Technician</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                </div>

                <!-----------Development  Team---------------->
                <!-- Classic Heading -->
                <br>
                <h5 class="classic-title"><span>Development</span></h5>

                <!-- Start Team Members -->
                <div class="row">
                    <!-- Start Memebr 1 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Waleed Khalid" src="~/images/team/Waleed sahab.jpg" />
                                <div class="member-name">Waleed Khalid <span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 1 -->
                    <!-- Start Memebr 2 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Saif Ullah Khalid" src="~/images/team/saif sahab.jpg" />
                                <div class="member-name">Saif Ullah Khalid <span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 2 -->
                    <!-- Start Memebr 3 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Ghulam Mustafa " src="~/images/team/male avatar.jpg" />
                                <div class="member-name">Ghulam Mustafa <span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 3 -->
                    <!-- Start Memebr 8 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Saqib Naseem" src="~/images/team/male avatar.jpg" />
                                <div class="member-name">Muhammad Saqib Naseem <span> Software Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 8 -->
                    <!-- Start Memebr 5 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Abdul Rehman" src="~/images/team/abdul rehman.jpg" />
                                <div class="member-name">Muhammad Abdul Rehman<span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 5 -->
                    <!-- Start Memebr 6 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Qurat ul Ain" src="~/images/team/madam.jpg" />
                                <div class="member-name">Qurat-ul-Ain<span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 6 -->
                    <!-- Start Memebr 7 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Kamran Hassan" src="~/images/team/kamran qureshi.jpg" />
                                <div class="member-name">Kamran Hassan Qureshi<span>Developer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 7 -->
                    <!-- Start Memebr 8 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Noman Khan" src="~/images/team/nk.jpg" />
                                <div class="member-name">Muhammad Noman Khan<span>Graphics Designer</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 8 -->
                    <!-- Start Memebr 4 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Mrs.Salman" src="~/images/team/female avatar.jpg" />
                                <div class="member-name">Mrs.Salman <span>Internee</span></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Memebr 4 -->
                    <!-- Start Memebr 8 -->
                    <div class="col-md-3">
                        <div class="team-member">
                            <!-- Memebr Photo, Name & Position -->
                            <div class="member-photo">
                                <img alt="Farzana" src="~/images/team/female avatar.jpg" />
                                <div class="member-name">Farzana <span>Internee </span></div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End Team Members -->

            </div>
        </div>
    </div>
</div>>
<!-- End content -->
