    <!-- Container -->
<div id="container">
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url(images/3f-career.jpg) center #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Career Opportunities</h2>
                    <p>We Are Professional</p>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Career</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-md-7">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Join Us</span></h4>

                    <!-- Some Text -->
                    <p>
                        we are constantly looking for people. Send us an E-mail (hr@3FTechnologies.com). Make sure that your application covers the following items: Abbreviated CV, Personal strengths and weaknesses, Passions, Current job expectations and Career expectations.<br><br>All Software Engineering, Computer Science and Information Technology students can apply. on the following email.<br><br><br><strong>HR Manager</strong><br>
                        hr@3FTechnologies.com
                    </p>
                    <br>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Current Opennings</span></h4>

                    <!-- job1 Text -->
                    <h4 style="color:#4CC2CC">Junior Programmer (Male/Female)</h4><br>

                    <p>
                        <strong>Department</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Development<br>
                        <strong>Education/Degree</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;CS/I.T Graduates or Higher<br>
                        <strong>Skills/Experience</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Fresh/Entry Level Good Understandings
                        of OOP, C#, ASP.NET, MVC, Visual Studio, MS-SQL,<br>&nbsp;&nbsp;&nbsp;&nbsp; Crystal Reports, Basics of Accounts<br>
                        <strong>Location</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Multan<br>
                        <strong>Job Description</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Bugs Fixing and Applying changes in existing Projects.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	8 Weeks Probation for Fresh Candidates.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Salary will be decided after completion of probation for Fresh Candidates.<br>

                    </p>
                    <br>

                    <!-- job2 Text -->
                    <h4 style="color:#4CC2CC">VB 6 Programmer (Male/Female)</h4><br>

                    <p>
                        <strong>Department</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Development<br>
                        <strong>Education/Degree</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;CS/I.T Graduates or Higher<br>
                        <strong>Skills/Experience</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Fresh/Experienced
                        Good Understandings of VB 6, MS-SQL 2000, Crystal Reports 8.5 or Higher,<br>&nbsp;&nbsp;&nbsp;&nbsp; Basics of Accounts
                        <br>
                        <strong>Location</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Multan<br>
                        <strong>Job Description</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Bugs Fixing and Applying changes in existing Projects.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	8 Weeks Probation for Fresh Candidates.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Stipend will be provided During Probation<br>

                    </p>
                    <br>

                    <!-- job3 Text -->
                    <h4 style="color:#4CC2CC">Sales Officer</h4><br>

                    <p>
                        <strong>Department</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Sales & Marketing<br>
                        <strong>Education/Degree</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Graduation<br>
                        <strong>Skills/Experience</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Fresh/ Experienced
                        Basic Understanding of Accounts and Computer Operating

                        <br>
                        <strong>Location</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;Any City of Pakistan<br>
                        <strong>Job Description</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Target Marketing<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Client Visits and Demos Presentations<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Basic + Commission<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        •	Experience Based Package Start<br>

                    </p>
                    <br>











                    <!--<table border="1px" cellpadding="3px"  align="center" >
                    <tr>
                    <th> S.No</th>
                    <th> Designation</th>
                    <th> Department</th>
                    <th> Education/Degree</th>
                    <th> Skills/Experience</th>
                    <th> Location</th>
                    <th align="justify"> Job Description</th>
                    </tr>

                    <tr>
                    <td>1</td>
                    <td>Junior Programmer (Male/Female)</td>
                    <td>Development</td>
                    <td>CS/I.T Graduates or Higher</td>
                    <td>Fresh/Entry Level Good Understandings
                     of OOP, C#, ASP.NET, MVC, Visual Studio, MS-SQL, Crystal Reports, Basics of Accounts</td>
                    <td>Multan</td>
                    <td align="char">
                    •	Bugs Fixing and Applying changes in existing Projects.
                    •	8 Weeks Probation for Fresh Candidates.
                    •	Salary will be decided after completion of probation for Fresh Candidates.

                    </td>
                    </tr>

                    <tr>
                    <td>2</td>
                    <td>Sales Officer</td>
                    <td>Sales & Marketing</td>
                    <td>Graduation</td>
                    <td>Fresh/ Experienced
                    Basic Understanding of Accounts and Computer Operating</td>
                    <td>Any City of Pakistan</td>
                    <td><ul>
                    <li>•	Target Marketing</li>
                    <li>•	Client Visits and Demos Presentations</li>
                    <li>•	Basic + Commission</li>
                    <li>•	Experience Based Package Start</li>
                    </ul>
                    </td>
                    </tr>
                    </table>     -->

                </div>




                <div class="col-md-5">
                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Information</span></h4>
                    <!-- Some Info -->
                    <p>
                        3F Technologies (Pvt) Ltd. comprises a dynamic group of professionals who are experts in all standard industry programming languages / enterprise solution
                    </p>
                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:10px;"></div>
                    <!-- Info - Icons List -->
                    <ul class="icons-list">
                        <li><i class="icon-location-1"></i> <strong>Address:</strong> 228/10, Ittehad Street, Peer Khurshid Colony,Multan Pakistan.</li>
                        <li><i class="icon-mail-1"></i> <strong>Email:</strong> info@3ftechnologies.com</li>
                        <li>
                            <i class="icon-mobile-1"></i> <strong>Phone:</strong> (061) 6510198 , (061) 6212038

                        </li>
                    </ul>

                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:15px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Working Hours</span></h4>

                    <!-- Info - List -->
                    <ul class="list-unstyled">
                        <li><i class="icon icon-time"></i> <strong>Monday - Saturday</strong> - 9am to 5pm</li>

                        <li><i class="icon icon-time"></i> <strong>Sunday</strong> - Closed</li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- End content -->
