<!-- Container -->
<div id="container">
    <!-- Start Page Banner -->
    <div class="page-banner no-subtitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Training and Courses</h2>
                    <span>Be Professional With Professionals</span>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row sidebar-page">

                <!-- Page Content -->
                <div class="col-md-7">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Professional Development Courses for Beginners / Students</span></h4>
                    <p align="justify" style="color:#4A4A4A">Considering the need of <strong>Future Developers</strong>, 3F Technologies decided to introduce some special courses for fresh I.T graduates to overcome gaps between bookish and practical approach used in market. Offered courses will be conducted by our most senior developers who are expert in field of software development. After completion of these courses our candidates will be capable of independently working with tools plus they may perform well as compare to other fresher(s) at their job or even at interview seat. We recommend Every Student should cover one of the following courses before applying to jobs it will<strong> maximize</strong> the chances of <strong>getting hired</strong>.</p>


                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:40px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Requirements </span></h4>
                    <ul class="list-group" style="color:#4A4A4A">
                        <li>1- BSCS/BSIT/MCS or relevant degree holder either completed or in process</li>
                        <li>2- Recent Passport Size Photo either in Hard or Soft Copy</li>
                        <li>3- Registration Required before Joining any Course</li>
                        <li>4- Personal Laptop</li>
                        <li>5- CNIC Copy</li>

                    </ul>


                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:40px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Desktop Application Development </span></h4>

                    <div style="color:#4A4A4A">
                        <table class="table-striped" cellpadding="15px" cellspacing="20px" align="center">
                            <tr><td>Language</td>			<td>C#</td>		<td>VB 6</td></tr>
                            <tr><td>SQL</td>				<td>2008r2</td>	<td>2000</td></tr>
                            <tr><td>Crystal Reports</td>	<td>3.5</td>	<td>9.2</td></tr>
                            <tr><td>Application Type</td>	<td>Windows Form</td>	<td>Windows Form</td></tr>
                            <tr><td>Code Editor</td>		<td>Visual Studio 2012</td>	<td>Visual Basic</td></tr>
                            <tr><td>Architecture</td>		<td>Layer System + Classic</td> 	<td>Classic</td></tr>
                            <tr><td>Duration</td>			<td>8 Weeks</td>	<td>8 Weeks</td></tr>
                            <tr><td>Others</td>				<td>Interview + Career Guide</td>	<td>Interview + Career Guide</td></tr>
                        </table>
                    </div>

                    <!-- Divider -->
                    <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Web Site/Application Development </span></h4>

                    <div style="color:#4A4A4A">
                        <table class="table-striped" cellpadding="15px" cellspacing="20px" align="center">
                            <tr><td>User Interface Design</td>		<td>ASP.NET, Bootstrap, Responsive CSS [Template]</td></tr>
                            <tr><td>Client Side Language</td>				<td>JavaScript, JQuery</td></tr>
                            <tr><td>Server Side Language</td>	<td>C#</td></tr>
                            <tr><td>Back End Server</td>	<td>MSSQL 2008r2</td></tr>
                            <tr><td>Crystal Reports</td>		<td>3.5</td></tr>
                            <tr><td>Application Type</td>		<td>ASP.NET Site</td></tr>
                            <tr><td>Code Editor</td>			<td>Visual Studio 2012</td></tr>
                            <tr><td>Architecture</td>				<td>Layer System + Classic</td></tr>
                            <tr><td>Duration</td>				<td>12 Weeks</td></tr>
                            <tr><td>Others</td>				<td>Interview + Career Guide</td></tr>

                        </table>
                    </div>

                    <!-- Divider -->
                    <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Fee Packages </span></h4>

                    <div style="color:#4A4A4A">
                        <table class="table-striped" cellpadding="15px" cellspacing="20px" align="center">
                            <tr><td>Registration Processing Fee</td>		<td>Rs.200</td></tr>
                            <tr><td>Desktop Application Development (C#)</td>				<td>Rs.4000 (per month)</td></tr>
                            <tr><td>Desktop Application Development (VB6)</td>	<td>Rs.3000 (per month)</td></tr>
                            <tr><td>Web Site/Application Development (ASP.NET)</td>	<td>Rs.6000 (per month)</td></tr>
                            <tr><td><strong>Individual Course</strong></td><td></td></tr>
                            <tr><td>Visual Studio Essential Training (C#)—01 Month</td>		<td>Rs.3000</td></tr>
                            <tr><td>SQL Server Essential Training—01 Month</td>		<td>Rs.4000</td></tr>
                            <tr><td>Crystal Report Essential Training—01 Month</td>			<td>Rs.3500</td></tr>
                            <tr><td>Graphics Designing Essential Training Adobe Photoshop CS6 –01 Month</td>				<td>Rs.4000</td></tr>


                        </table>
                    </div>


                    <!-- Divider -->
                    <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>3F Products Training: </span></h4>

                    <p style="color:#4A4A4A">For our clients we offer following ways of training.</p><br>
                    <p style="color:#4A4A4A">
                        <strong>1-	On Site Training:</strong><br>
                        Our Official visit client premises and give trainings to their operators (Normally its charges are included in software price, after first training only T.A/D.A applied)<br><br>
                        <strong>2-	Off Site Training:</strong><br>
                        If Client wants to send its operator in our office for training, we have this option available too. (It may cost some extra charges other than software price)<br><br>
                        <strong>3-	Online Training:</strong><br>
                        If our client feel any difficulty in product using, he/she may take help from our support and service department officials 24 X 7. They will assist as much as they can either at call or at team viewer.<br><br>
                        <strong>4-	Special Training:</strong><br>
                        If anyone want to learn operating our products for personal use or marketing purpose special training may be provided on demand after the approval of Marketing Manager.<br><br>
                        <strong>5-	Tutorials:</strong><br>
                        We are updating videos at our site relevant to different product usage. Our user may take help from them also.<br><br>


                    </p>




                </div>
                <!-- End Page Content-->
                <!--Sidebar-->
                <!--<div class="col-md-3 sidebar right-sidebar">-->

                <aside>
                    <div class="col-md-5">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Brief About Us</span></h4>

                        <!-- Some Info -->
                        <p style="color:#4A4A4A">
                            <strong>3F Technologies (Pvt) Ltd.</strong> comprises a dynamic group of professionals who are experts in all standard industry programming languages / enterprise solution.
                        </p>

                        <!-- Divider -->
                        <div class="hr1" style="margin-bottom:10px;"></div>

                        <!-- Info - Icons List -->
                        <ul class="icons-list" style="color:#4A4A4A">
                            <li><i class="icon-location-1"></i> <strong>Address:</strong> 228/10, Ittehad Street, Peer Khurshid Colony,Multan Pakistan.</li>
                            <li><i class="icon-mail-1"></i> <strong>Email:</strong>  Course@3ftechnologies.com</li>
                            <li>
                                <i class="icon-mobile-1"></i> <strong>Phone:</strong> (061) 6510198 | (061) 6212038 | 0301-3666597 | 0333-6766592

                            </li>
                        </ul>

                        <!-- Divider -->
                        <div class="hr1" style="margin-bottom:15px;"></div>

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Timings</span></h4>

                        <!-- Info - List -->
                        <ul class="list-unstyled" style="color:#4A4A4A">
                            <li><i class="icon icon-time"></i> <strong>Monday - Friday</strong> : 5:30 pm to 8:00 pm</li>
                            <li><i class="icon icon-time"></i> <strong>Saturday & Sunday</strong> : Off</li>

                            <li><i class="icon icon-time"></i> <strong>Per Batch Time</strong> : 40 min</li>
                        </ul>

                        <!-- Divider -->
                        <div class="hr1" style="margin-bottom:15px;"></div>

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Free Tutorials</span></h4>

                        <!-- Info - List -->
                        <ul class="list-unstyled" style="color:#4A4A4A">
                            <li>
                                <i class="icon icon-time"></i>
                                <strong>For <a href="https://www.youtube.com/channel/UCjenZqmpy2CMZP-qfAOD7cA" target="_blank">Free Tutorials</a> Visit youtube Channel</strong> :
                                <a href="https://www.youtube.com/channel/UCjenZqmpy2CMZP-qfAOD7cA" target="_blank"><strong>EASY I.T.</strong></a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!--End sidebar-->
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
