<!-- Container -->
<div id="container">
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0; background: url(~/images/media.jpg) center #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>&nbsp; MEDIA</h2>
                    <p>&nbsp; 3FTechonlogies -  Solution with Excellence</p>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Media</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row blog-page">

                <!-- Start Blog Posts -->
                <div class="col-md-9 blog-box">

                    <!-- Start Post -->
                    <div class="blog-post video-post">
                        <!-- Post Video -->
                        <div class="post-head">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/OkFYsL6VpdY" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-type"><i class="icon-video-3"></i></div>
                            <h2><a href="#">The Innovation</a></h2>
                            <ul class="post-meta">
                                <li>By <a href="#">3FTechnologies</a></li>

                            </ul>
                            <p>Innovation is defined simply as a "new idea, device, or method". However, innovation is often also viewed as the application of better solutions that meet new requirements, unarticulated needs, or existing market needs.</p>
                            <!--<a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>-->
                        </div>
                    </div>
                    <!-- End Post -->
                    <!-- Start Post -->
                    <div class="blog-post video-post">
                        <!-- Post Video -->
                        <div class="post-head">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/8SU8bUFrZC8" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-type"><i class="icon-video-3"></i></div>
                            <h2><a href="#">Technology or Karobar</a></h2>
                            <ul class="post-meta">
                                <li>By <a href="#">3FTechnologies</a></li>

                            </ul>
                            <p>Innovation is defined simply as a "new idea, device, or method". However, innovation is often also viewed as the application of better solutions that meet new requirements, unarticulated needs, or existing market needs.</p>
                            <!--<a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>-->
                        </div>
                    </div>
                    <!-- End Post -->



                </div>
                <!-- End Blog Posts -->
                <!--Sidebar-->
                <div class="col-md-3 sidebar right-sidebar">

                    <!-- Categories Widget -->
                    <div class="widget widget-categories">
                        <h4>Categories <span class="head-line"></span></h4>
                        <ul>
                            <li>
                                <a href="Products.html">Desktop Apps</a>
                            </li>
                            <li>
                                <a href="Products.html">Web Apps</a>
                            </li>
                            <li>
                                <a href="Products.html">Websites</a>
                            </li>
                            <li>
                                <a href="Products.html">Graphics</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Popular Posts widget -->
                    <div class="widget widget-popular-posts">
                        <h4>Popular Apps <span class="head-line"></span></h4>
                        <ul>
                            <li>
                                <div class="widget-thumb">
                                    <a href="~/Products/ginsoft2017.html"><img src="~/images/fapp.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <h5><a href="~/Products/ginsoft2017.html">GINSOFT V.17</a></h5>
                                    <span>Pakistan's Best Ginning Software</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="~/Products/petro.html"><img src="~/images/fapp2.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <h5><a href="Products/petro.html">PETROSOFT</a></h5>
                                    <span>Petrol pump Stations Solution</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="~/Products/agen.html"><img src="~/images/fapp3.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <h5><a href="~/Products/agen.html">AGENSOFT</a></h5>
                                    <span>Brokerage Business Solution</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End sidebar-->
            </div>
        </div>
    </div>
</div>
<!-- End Content -->